<h1>Sportizing form [Contact us] - {<%= @user_info["subject"] %>}</h1>

<p>Name: <%= @user_info["name"] %></p>
<p>Email: <%= @user_info["email"] %></p>
<p>Subject: <%= @user_info["subject"] %></p>
<p>Message: <%= @user_info["message"] %></p>