<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="JMyCarousel-home.css" />
		<title>Header</title>
		<%= stylesheet_link_tag @home %>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<%= javascript_include_tag "jquery-1.2.1.pack" %>
		<%= javascript_include_tag "jMyCarousel" %>
		<!-- Optional -->
		<%= javascript_include_tag "jquery.mousewheel" %>
		<script type="text/javascript">
			$(function() {
				$(".jMyCarousel").jMyCarousel({
					visible : '100%'
				});
			});
		</script>
		<style type="text/css">
			#bljaIMGte {
				float: left;
				position: relative;
			}
			#bljaIMGte .bljaIMGtex {
				width: 320px;
				position: absolute;
				top: 10px;
				left: 14px;
			}
		</style>
	</head>

	<body >
		<div id="page-wrapper">

			<nav id="header-nav" >
				<ul id="header-nav-list">

					<li class="carpusel-li">
						<a id="first" href="http://gortonsenespanol.com/productos"> GORTON'S PRODUCTS</a>

					</li>

					<li>
						<a  href="http://gortonsenespanol.com/"> GORTONSENESPANOL.COM</a>

					</li>

				</ul>
			</nav>

			<%= image_tag 'Header_English.jpg', :style => "width: 960px; height: 234px;padding-bottom:-200px;float:left"%>

			<!-- Carousel Structure -->

			<div class="jMyCarousel">

				<ul id="carousel-ul">

					
					<%= @bloggers.shuffle.each do |blogger| %>

					<li>
						<%= image_tag blogger.bloggerImageBig, :alt => "Headshot-Sample.jpg", :id => "image" %>
						<p class="textName">
							<%= blogger.name %>
						</p>
						<p class="textBlog">
							<%= blogger.blogName %>
						</p>

						<%= image_tag 'Recipe-Icon.png' , :style=> "float:left" %>
						<p class="textRecipe">
							<%= blogger.recipeName %>
						</p>
						<p class="textBios">
							<%= blogger.bios %>
						</p>
						<p>
							<% link_to "Show",:controller=> 'blogger', :action=>'show', :blogger=> blogger.name%>
						</p>
						<div id="line-home"></div>
					</li>
					
					<% end %>


				</ul>

			</div>

			<div id="backgroundBottomHome">
				<a href="vote" style="background-color: rgb(246,241,149);width:600px"><%= image_tag 'Bottom-Image_English.jpg', :style => "width: 900px; height: 157px;margin-left:30px"%></a>

				<footer id="page-footer">
					<nav id="footer-nav">
						<ul id="footer-nav-list">
							<li>
								<a id="firstchild" href="official_rules" title="Official Rules">Official Rules</a
							</li>
							<li>
								<a href="http://gortons.com/privacy-policy" title="Privacy Policy">Privacy Policy</a
							</li>

							<li>
								<a href="ContactUs.html" title="Contact Us">Contact Us</a
							</li>

						</ul>
					</nav>
				</footer>
			</div>
		</div>
	</body>
</html>

