
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Header</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<%= javascript_include_tag "jquery-1.2.1.pack" %>
		<%= javascript_include_tag "jMyCarousel" %>
		<!-- Optional -->
		<%= javascript_include_tag "jquery.mousewheel" %>
		<script type="text/javascript">
			$(function() {
				$(".jMyCarousel").jMyCarousel({
					visible : '100%'
				});
			});
		</script>
	<style type="text/css">#bljaIMGte{float:left;position:relative;}#bljaIMGte .bljaIMGtex {width:320px;position:absolute;top:10px;left:14px;}</style>
	</head>

	<body >
		<div id="page-wrapper">
			

			<nav id="header-nav" >
				<ul id="header-nav-list">

					<li class="carpusel-li">
						<a id="first" href="http://gortonsenespanol.com/productos"> GORTON'S PRODUCTS</a>

					</li>

					<li>
						<a  href="http://gortonsenespanol.com/"> GORTONSENESPANOL.COM</a>

					</li>

				</ul>
			</nav>
			

			<%= image_tag 'Header.jpg', :style => "width: 960px; height: 270px;padding-bottom:-200px;float:left"%>

			<!-- Carousel Structure -->
			<div class="jMyCarousel">
				<ul id="carousel-ul">
					<li><%= image_tag '1.jpg', :alt => "1.jpg", :id => "1.jpg" %>
						<p style="text-align: center">Name</p>
						<p style="text-align: center">Blog</p>
					
					<%= image_tag 'Recipe-Icon.png' , :style=> "float:left" %>
							<p style="text-align: center">Recipe</p>
						<p style="text-align: center">Decription</p>
	<p><a href="" style="width: 5px;position: relative;padding-left: 150px"><%= image_tag 'Vote.png' , :style=> "height:" %></a></p>

				
						
						
						
					</li>
					<li><%= image_tag '6.jpg', :alt => "6.jpg", :id => "6.jpg" %>
						<p style="text-align: center">Name</p>
						<p style="text-align: center">Blog</p>
					
					<%= image_tag 'Recipe-Icon.png' , :style=> "float:left" %>
							<p style="text-align: center">Recipe</p>
						<p style="text-align: center">Decription</p>
	<p><a href="" style="width: 5px;position: relative;padding-left: 150px"><%= image_tag 'Vote.png' , :style=> "height:" %></a></p>
					</li>
					<li><%= image_tag '3.jpg', :alt => "3.jpg", :id => "3.jpg" %>
						<p style="text-align: center">Name</p>
						<p style="text-align: center">Blog</p>
						
						<p style="text-align: center">Recipe</p>
						<p style="text-align: center">Decription</p>
	<p><a href="" style="width: 5px;position: relative;padding-left: 150px"><%= image_tag 'Vote.png' , :style=> "height:" %></a></p>
						
					</li>
					<li><%= image_tag '4.jpg', :alt => "4.jpg", :id => "4.jpg" %>
						<p style="text-align: center">Name</p>
						<p style="text-align: center">Blog</p>
						
						<p style="text-align: center">Recipe</p>
						<p style="text-align: center">Decription</p>
	<p><a href="" style="width: 5px;position: relative;padding-left: 150px"><%= image_tag 'Vote.png' , :style=> "height:" %></a></p>
						
						
						
					</li>
					<li><%= image_tag '5.jpg', :alt => "5.jpg", :id => "5.jpg" %>
						<p style="text-align: center">Name</p>
						<p style="text-align: center">Blog</p>
						
						
						<p style="text-align: center">Recipe</p>
						<p style="text-align: center">Decription</p>
	<p><a href="" style="width: 5px;position: relative;padding-left: 150px"><%= image_tag 'Vote.png' , :style=> "height:" %></a></p>
						
						
						
					</li>
				</ul>
			</div>

			
			
				<%=image_tag 'Bottom-Image.jpg', :style => "width: 900px; height: 200px;padding-left:30px"%>
		
<footer id="page-footer">
	<nav id="footer-nav">
		<ul id="footer-nav-list">
			<li><a id="firstchild" href="OfficialRules.html" title="Official Rules">Official Rules</a</li>
				<li><a href="http://gortons.com/privacy_policy.htm" title="Privacy Policy">Privacy Policy</a</li>
			
			<li><a href="ContactUs.html" title="Contact Us">Contact Us</a</li>
			
				
</ul>
</nav>
</footer>
		
		</div>
	</body>
</html>

