<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @blogger.name %>
</p>

<p>
  <b>Recipes:</b>
  <%= @blogger.recipes %>
</p>

<p>
  <b>Image:</b>
  <%= @blogger.image %>
</p>


<%= link_to 'Edit', edit_blogger_path(@blogger) %> |
<%= link_to 'Back', bloggers_path %>
