<!-- Carousel Structure -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<%= stylesheet_link_tag 'recipes' %>
		<%= stylesheet_link_tag 'JMyCarousel-recipes' %>
		<%= javascript_include_tag "jMyCarousel" %>
		<!-- Optional -->
		<%= javascript_include_tag "jquery.mousewheel" %>
		<script type="text/javascript">
			$(function() {
				$(".jMyCarousel").jMyCarousel({
					visible : '100%'
				});
			});
			jQuery(document).ready(function($) {
				$('a[rel*=facebox]').facebox()
			})
		</script>
	</head>
	<body >
		<div id="page-wrapper-recipes">
			<nav id="header-nav" >
				<ul id="header-nav-list">

					<li>
						<a id="first" href="http://gortonsenespanol.com/productos"> GORTON'S PRODUCTS</a>

					</li>

					<li>
						<a  href="http://gortonsenespanol.com/"> GORTONSENESPANOL.COM</a>

					</li>

				</ul>
			</nav>
			<div id="wrapper-logo-recipe">
				<div id="image-logo-recipe">
					<%= image_tag 'Logo.png', :alt => "Logo", :id => "vote_logo" %>
				</div>
			</div>
			<div class="example">
				<h2>Images</h2>

				<p>
					<a href="images/1.jpg" rel="facebox">View 'images/stairs.jpg' in the Facebox</a>
				</p>
			</div>
			<div id="header-recipes-gradient"></div>
			<div id="body-recipes-wrapper">
				<div id="body-recipes-gradient">
					<div id="body-recipes-carousel">
						
						
						
						<div class="jMyCarousel">
				
				<ul id="carousel-ul-recipe">
					
					
					
					<li>

									<%= image_tag 'Headshot-Sample.jpg', :alt => "Headshot-Sample.jpg", :id => "1jpg" %>
									<p class="textName-recipe">
										Name
									</p>
									<p class="textBlog-recipe">
										Blog
									</p>

									<%= image_tag 'Recipe-Icon.png' , :style=> "float:left" %>
									<p class="textRecipe-recipe">
										Recipe
									</p>
									<p class="textDescription-recipe">
										Decription
									</p>
									<p>
										<a href="vote" style="width: 5px;padding-left: 70px;background-color:#FFFFFF"><%= image_tag 'Vote.png' , :style=> "height:" %></a>
									</p>
									<div id="line-home"></div>
								</li>	
					
					
					
					<li>

									<%= image_tag 'Headshot-Sample.jpg', :alt => "6.jpg", :id => "6.jpg" %>
									<p class="textName-recipe">
										Name
									</p>
									<p class="textBlog-recipe">
										Blog
									</p>

									<%= image_tag 'Recipe-Icon.png' , :style=> "float:left" %>
									<p class="textRecipe-recipe">
										Recipe
									</p>
									<p class="textDescription-recipe">
										Decription
									</p>
									<p>
										<a href="vote" style="width: 5px;padding-left: 70px;background-color: #FFFFFF"><%= image_tag 'Vote.png' , :style=> "height:" %></a>
									</p>
									<div id="line-home"></div>
								</li>
							
					
					
					<li>
						
						<%= image_tag 'Headshot-Sample.jpg', :alt => "3.jpg" , :id=>"image-recipe" %>
						
						<p class="margin">Prepared by:</p>
						
						<p class="textBloggerName-recipe">Name</p>
						
						
						<%= image_tag 'Laura-Muller_Recipe-Image.jpg', :alt => "3.jpg", :id => "3.jpg" %>
						
						<p class="textName-recipe">Name Recipe</p>
						
						<p class="ingredientsRecipes">Ingredients</p>
						
				
							
							<p style="margin-left: 20px">List of ingredients</p>
							
							
							
					
						
						
						
						
						<p class="directionsRecipes">Directions</p>
						
						<div>
						
						<p class="margin">Directions explanation</p>
							
							
							
						</div>
						
						
						<div id="first" align="right">
										<table align="left">
											<tr>
												<td>
												<div>
													<p class= "NetworksShare">Share</p>
													<a href="http://twitter.com/home?status=Cook,Blog and Win with Gortons - www.cookblogandwin.gortons.com"  style="background-color: #FFFFFF"><%= image_tag 'Twitter.png' , :style=> "float:left" %></a>
													<a href="http://www.facebook.com/sharer.php?u=www.cookblogandwin.gortons.com&t=Cook,Blog and Win with Gortons"   style="background-color: #FFFFFF";><%= image_tag 'Facebook.jpg' , :style=> "" %></a>
												</div></td>
												<td>
												<div>

													<table >
														<tr>
															<td>
															<div align="left">
																<p>
																	<a href="voteButton" style="width: 5px;padding-left:90px;background-color: #FFFFFF"><%= image_tag 'Vote-Button.png' , :style=> "height: 20px"  %></a>
																</p>

															</div></td>

															<td>
															<div>
																<p style="padding-left:10px;">Votes</p>

															</div></td>
														</tr>
													</table>

													<p>
														<a href="vote" style="width: 5px;padding-left:90px;background-color: #FFFFFF"><%= image_tag 'Vote-Button-English.png' , :style=> "height: 20px"  %></a>
													</p>
												</div></td>
											</tr>
										</table>
									</div>

						<div id="line-home"> </div>	
						
					</li>
				
					
					
					
					
					<li>
						
							<%= image_tag 'Headshot-Sample.jpg', :alt => "4.jpg", :id => "4.jpg" %>
						<div class="textName-recipe">Name</p>
						<div class="textBlog-recipe">Blog</p>
						
						<%= image_tag 'Recipe-Icon.png' , :style=> "float:left" %>
							<div class="textRecipe-recipe">Recipe</p>
							
						<div class="textDescription-recipe">Decription</p>
	<p><a href="vote" style="width: 5px;padding-left: 70px;background-color:#FFFFFF"><%= image_tag 'Vote.png' , :style=> "height:" %></a></p>
						
				<div id="line-home"> </div>
					</li>
					
					
					
					<li>
						
						<%= image_tag 'Headshot-Sample.jpg', :alt => "5.jpg", :id => "5.jpg" %>
						<p class="textName-recipe">Name</p>
						<p class="textBlog-recipe">Blog</p>
						
						
						<p class="textRecipe-recipe">Recipe</p>
						<p class="textDescription-recipe">Decription</p>
<p><a href="vote" style="width: 5px;padding-left: 70px;background-color: #FFFFFF"><%= image_tag 'Vote.png' , :style=> "height:" %></a></p>						
						
						<div id="line-home"> </div>
					</li>
				
				</ul>
				</div>
					</div>
				</div>

				<footer id="page-footer">
					<nav id="footer-nav">
						<ul id="footer-nav-list">
							<li>
								<a id="firstchild" href="OfficialRules.html" title="Official Rules">Official Rules</a
							</li>
							<li>
								<a href="http://gortons.com/privacy_policy.htm" title="Privacy Policy">Privacy Policy</a
							</li>

							<li>
								<a href="ContactUs.html" title="Contact Us">Contact Us</a
							</li>

						</ul>
					</nav>
				</footer>
			</div>
		</div>
	</body>
</html>
