<!-- Carousel Structure -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<%= stylesheet_link_tag 'recipes' %>
		<%= stylesheet_link_tag 'JMyCarousel-recipes' %>
		<%= javascript_include_tag "jMyCarousel" %>
		<!-- Optional -->
		<%= javascript_include_tag "jquery.mousewheel" %>
		<script type="text/javascript">
			$(function() {
				$(".jMyCarousel").jMyCarousel({
					visible : '100%'
				});
			});
			jQuery(document).ready(function($) {
				$('a[rel*=facebox]').facebox()
			})
		</script>
	</head>
	<body >
		<div id="page-wrapper-recipes">
			<nav id="header-nav" >
				<ul id="header-nav-list">

					<li>
						<a id="first" href="http://gortonsenespanol.com/productos"> GORTON'S PRODUCTS</a>

					</li>

					<li>
						<a  href="http://gortonsenespanol.com/"> GORTONSENESPANOL.COM</a>

					</li>

				</ul>
			</nav>
			<div id="wrapper-logo-recipe">
				<div id="image-logo-recipe">
					<%= image_tag 'Logo.png', :alt => "Logo", :id => "vote_logo" %>
				</div>
			</div>
			<div class="example">
				<h2>Images</h2>

				<p>
					<a href="images/1.jpg" rel="facebox">View 'images/stairs.jpg' in the Facebox</a>
				</p>
			</div>
			<div id="header-recipes-gradient"></div>
			<div id="body-recipes-wrapper"style="height: 800px">
				<div id="body-recipes-gradient"style="height: 650px">
					<div id="body-recipes-carousel">
						
						
						
						<div class="jMyCarousel">
				
				<ul id="carousel-ul-recipe" >
					
					
					
					<li>

									<%= image_tag 'Headshot-Sample.jpg', :alt => "3.jpg" , :id=>"BloggerImage-recipe", :hspace=>10 %>
						
						<p class="PreparedText">Prepared by:</p>
						
						<p class="BloggerNameText">Name</p>
						
						
						<%= image_tag 'Laura-Muller_Recipe-Image.jpg', :alt => "3.jpg", :id => "recipeImage" %>
						
						<p class="NameRecipyText">Name Recipe</p>
						
						<p class="IngredientsText">Ingredients</p>
						
						<p class="IntroducedByBlogerText">aaaaaaaa  vvvv</br>vvv</br>vvv vvv</br>vvvvvv</br> vvvvvvvvvvvv vvv</br>vvvvvvvvvvv vvvvv</br>vvv vvvvvvv vvvv</p>
							
						<p class="IngredientsText">Directions</p><!--#Share has the same style as "Ingredients"-->
						
						<div>
						
						<p class="IntroTextDescription">bueno vamos a ve que pasaaaa aaaaaaa aaaaaa aaaa aaaa aaaaaa aaaa avamos a ve que pasaaaaaaaaaa aaaaaaaaa aaaaaaaa aaaaaaaa avamos a ve que pasaaa aaaaaaaa aaaaaa aaaaaaa aaaaaa aaaaaa</p>
								  
						</div>
						
						
						<div>
										<table >
											<tr>
												<td>
												<div>
													<p class= "SharedText">Share</p> <!--Share has the same style as "Prepared by"-->
													<a href="http://twitter.com/home?status=Cook,Blog and Win with Gortons - www.cookblogandwin.gortons.com"  style="padding-left:20px;background-color: #FFFFFF"><%= image_tag 'Twitter.png' , :style=> "float:left" %></a>
													<a href="http://www.facebook.com/sharer.php?u=www.cookblogandwin.gortons.com&t=Cook,Blog and Win with Gortons"   style="background-color: #FFFFFF";><%= image_tag 'Facebook.jpg' , :style=> "" %></a>
												</div></td>
												<td>
												<div>

													<table >
														<tr>
															<td>
															<div>
																<p>
																	<a href="voteButton" style="width: 5px;padding-left:90px;background-color: #FFFFFF"><%= image_tag 'Vote-Button.png' , :style=> "height: 20px"  %></a>
																</p>

															</div></td>

															<td>
															<div>
																<div>
																	<p class ="NumVotos"; style="padding-left:15px;padding-top:10px">34</p>
																	
																</div>
																<div>
																<p class="VotesText"; style="padding-left:10px">VOTES</p>
																</div>

															</div></td>
														</tr>
													</table>

													<p>
														<a href="vote" style="width: 5px;padding-left:80px;background-color: #FFFFFF"><%= image_tag 'Vote-Button-English.png' , :style=> "height: 20px"  %></a>
													</p>
												</div></td>
											</tr>
										</table>
									</div>

						<div id="line-home"> </div>	
								</li>	
					
					
					
					<li>

									<%= image_tag 'Headshot-Sample.jpg', :alt => "3.jpg" , :id=>"BloggerImage-recipe", :hspace=>10 %>
						
						<p class="PreparedText">Prepared by:</p>
						
						<p class="BloggerNameText">Name</p>
						
						
						<%= image_tag 'Laura-Muller_Recipe-Image.jpg', :alt => "3.jpg", :id => "recipeImage" %>
						
						<p class="NameRecipyText">Name Recipe</p>
						
						<p class="IngredientsText">Ingredients</p>
						
						<p class="IntroducedByBlogerText">aaaaaaaa  vvvv</br>vvv</br>vvv vvv</br>vvvvvv</br> vvvvvvvvvvvv vvv</br>vvvvvvvvvvv vvvvv</br>vvv vvvvvvv vvvv</p>
							
						<p class="IngredientsText">Directions</p><!--#Share has the same style as "Ingredients"-->
						
						<div>
						
						<p class="IntroTextDescription">bueno vamos a ve que pasaaaa aaaaaaa aaaaaa aaaa aaaa aaaaaa aaaa avamos a ve que pasaaaaaaaaaa aaaaaaaaa aaaaaaaa aaaaaaaa avamos a ve que pasaaa aaaaaaaa aaaaaa aaaaaaa aaaaaa aaaaaa</p>
								  
						</div>
						
						
						<div>
										<table >
											<tr>
												<td>
												<div>
													<p class= "SharedText">Share</p> <!--Share has the same style as "Prepared by"-->
													<a href="http://twitter.com/home?status=Cook,Blog and Win with Gortons - www.cookblogandwin.gortons.com"  style="padding-left:20px;background-color: #FFFFFF"><%= image_tag 'Twitter.png' , :style=> "float:left" %></a>
													<a href="http://www.facebook.com/sharer.php?u=www.cookblogandwin.gortons.com&t=Cook,Blog and Win with Gortons"   style="background-color: #FFFFFF";><%= image_tag 'Facebook.jpg' , :style=> "" %></a>
												</div></td>
												<td>
												<div>

													<table >
														<tr>
															<td>
															<div>
																<p>
																	<a href="voteButton" style="width: 5px;padding-left:90px;background-color: #FFFFFF"><%= image_tag 'Vote-Button.png' , :style=> "height: 20px"  %></a>
																</p>

															</div></td>

															<td>
															<div>
																<div>
																	<p class ="NumVotos"; style="padding-left:15px;padding-top:10px">34</p>
																	
																</div>
																<div>
																<p class="VotesText"; style="padding-left:10px">VOTES</p>
																</div>

															</div></td>
														</tr>
													</table>

													<p>
														<a href="vote" style="width: 5px;padding-left:80px;background-color: #FFFFFF"><%= image_tag 'Vote-Button-English.png' , :style=> "height: 20px"  %></a>
													</p>
												</div></td>
											</tr>
										</table>
									</div>

						<div id="line-home"> </div>	
								</li>
							
					
					
					<li>
						
						<%= image_tag 'Headshot-Sample.jpg', :alt => "3.jpg" , :id=>"BloggerImage-recipe", :hspace=>10 %>
						
						<p class="PreparedText">Prepared by:</p>
						
						<p class="BloggerNameText">Name</p>
						
						
						<%= image_tag 'Laura-Muller_Recipe-Image.jpg', :alt => "3.jpg", :id => "recipeImage" %>
						
						<p class="NameRecipyText">Name Recipe</p>
						
						<p class="IngredientsText">Ingredients</p>
						
						<p class="IntroducedByBlogerText">aaaaaaaa  vvvv</br>vvv</br>vvv vvv</br>vvvvvv</br> vvvvvvvvvvvv vvv</br>vvvvvvvvvvv vvvvv</br>vvv vvvvvvv vvvv</p>
							
						<p class="IngredientsText">Directions</p><!--#Share has the same style as "Ingredients"-->
						
						<div>
						
						<p class="IntroTextDescription">bueno vamos a ve que pasaaaa aaaaaaa aaaaaa aaaa aaaa aaaaaa aaaa avamos a ve que pasaaaaaaaaaa aaaaaaaaa aaaaaaaa aaaaaaaa avamos a ve que pasaaa aaaaaaaa aaaaaa aaaaaaa aaaaaa aaaaaa</p>
								  
						</div>
						
						
						<div>
										<table >
											<tr>
												<td>
												<div>
													<p class= "SharedText">Share</p> <!--Share has the same style as "Prepared by"-->
													<a href="http://twitter.com/home?status=Cook,Blog and Win with Gortons - www.cookblogandwin.gortons.com"  style="padding-left:20px;background-color: #FFFFFF"><%= image_tag 'Twitter.png' , :style=> "float:left" %></a>
													<a href="http://www.facebook.com/sharer.php?u=www.cookblogandwin.gortons.com&t=Cook,Blog and Win with Gortons"   style="background-color: #FFFFFF";><%= image_tag 'Facebook.jpg' , :style=> "" %></a>
												</div></td>
												<td>
												<div>

													<table >
														<tr>
															<td>
															<div>
																<p>
																	<a href="voteButton" style="width: 5px;padding-left:90px;background-color: #FFFFFF"><%= image_tag 'Vote-Button.png' , :style=> "height: 20px"  %></a>
																</p>

															</div></td>

															<td>
															<div>
																<div>
																	<p class ="NumVotos"; style="padding-left:15px;padding-top:10px">34</p>
																	
																</div>
																<div>
																<p class="VotesText"; style="padding-left:10px">VOTES</p>
																</div>

															</div></td>
														</tr>
													</table>

													<p>
														<a href="vote" style="width: 5px;padding-left:80px;background-color: #FFFFFF"><%= image_tag 'Vote-Button-English.png' , :style=> "height: 20px"  %></a>
													</p>
												</div></td>
											</tr>
										</table>
									</div>

						<div id="line-home"> </div>	
						
					</li>
					
					<li>
						
						<%= image_tag 'Headshot-Sample.jpg', :alt => "3.jpg" , :id=>"BloggerImage-recipe", :hspace=>10 %>
						
						<p class="PreparedText">Prepared by:</p>
						
						<p class="BloggerNameText">Name</p>
						
						
						<%= image_tag 'Laura-Muller_Recipe-Image.jpg', :alt => "3.jpg", :id => "recipeImage" %>
						
						<p class="NameRecipyText">Name Recipe</p>
						
						<p class="IngredientsText">Ingredients</p>
						
						<p class="IntroducedByBlogerText">aaaaaaaa  vvvv</br>vvv</br>vvv vvv</br>vvvvvv</br> vvvvvvvvvvvv vvv</br>vvvvvvvvvvv vvvvv</br>vvv vvvvvvv vvvv</p>
							
						<p class="IngredientsText">Directions</p><!--#Share has the same style as "Ingredients"-->
						
						<div>
						
						<p class="IntroTextDescription">bueno vamos a ve que pasaaaa aaaaaaa aaaaaa aaaa aaaa aaaaaa aaaa avamos a ve que pasaaaaaaaaaa aaaaaaaaa aaaaaaaa aaaaaaaa avamos a ve que pasaaa aaaaaaaa aaaaaa aaaaaaa aaaaaa aaaaaa</p>
								  
						</div>
						
						
						<div>
										<table >
											<tr>
												<td>
												<div>
													<p class= "SharedText">Share</p> <!--Share has the same style as "Prepared by"-->
													<a href="http://twitter.com/home?status=Cook,Blog and Win with Gortons - www.cookblogandwin.gortons.com"  style="padding-left:20px;background-color: #FFFFFF"><%= image_tag 'Twitter.png' , :style=> "float:left" %></a>
													<a href="http://www.facebook.com/sharer.php?u=www.cookblogandwin.gortons.com&t=Cook,Blog and Win with Gortons"   style="background-color: #FFFFFF";><%= image_tag 'Facebook.jpg' , :style=> "" %></a>
												</div></td>
												<td>
												<div>

													<table >
														<tr>
															<td>
															<div>
																<p>
																	<a href="voteButton" style="width: 5px;padding-left:90px;background-color: #FFFFFF"><%= image_tag 'Vote-Button.png' , :style=> "height: 20px"  %></a>
																</p>

															</div></td>

															<td>
															<div>
																<div>
																	<p class ="NumVotos"; style="padding-left:15px;padding-top:10px">34</p>
																	
																</div>
																<div>
																<p class="VotesText"; style="padding-left:10px">VOTES</p>
																</div>

															</div></td>
														</tr>
													</table>

													<p>
														<a href="vote" style="width: 5px;padding-left:80px;background-color: #FFFFFF"><%= image_tag 'Vote-Button-English.png' , :style=> "height: 20px"  %></a>
													</p>
												</div></td>
											</tr>
										</table>
									</div>

						<div id="line-home"> </div>	
						
					</li>
				
					
					
					
					
					<li>
						
							<%= image_tag 'Headshot-Sample.jpg', :alt => "3.jpg" , :id=>"BloggerImage-recipe", :hspace=>10 %>
						
						<p class="PreparedText">Prepared by:</p>
						
						<p class="BloggerNameText">Name</p>
						
						
						<%= image_tag 'Laura-Muller_Recipe-Image.jpg', :alt => "3.jpg", :id => "recipeImage" %>
						
						<p class="NameRecipyText">Name Recipe</p>
						
						<p class="IngredientsText">Ingredients</p>
						
						<p class="IntroducedByBlogerText">aaaaaaaa  vvvv</br>vvv</br>vvv vvv</br>vvvvvv</br> vvvvvvvvvvvv vvv</br>vvvvvvvvvvv vvvvv</br>vvv vvvvvvv vvvv</p>
							
						<p class="IngredientsText">Directions</p><!--#Share has the same style as "Ingredients"-->
						
						<div>
						
						<p class="IntroTextDescription">bueno vamos a ve que pasaaaa aaaaaaa aaaaaa aaaa aaaa aaaaaa aaaa avamos a ve que pasaaaaaaaaaa aaaaaaaaa aaaaaaaa aaaaaaaa avamos a ve que pasaaa aaaaaaaa aaaaaa aaaaaaa aaaaaa aaaaaa</p>
								  
						</div>
						
						
						<div>
										<table >
											<tr>
												<td>
												<div>
													<p class= "SharedText">Share</p> <!--Share has the same style as "Prepared by"-->
													<a href="http://twitter.com/home?status=Cook,Blog and Win with Gortons - www.cookblogandwin.gortons.com"  style="padding-left:20px;background-color: #FFFFFF"><%= image_tag 'Twitter.png' , :style=> "float:left" %></a>
													<a href="http://www.facebook.com/sharer.php?u=www.cookblogandwin.gortons.com&t=Cook,Blog and Win with Gortons"   style="background-color: #FFFFFF";><%= image_tag 'Facebook.jpg' , :style=> "" %></a>
												</div></td>
												<td>
												<div>

													<table >
														<tr>
															<td>
															<div>
																<p>
																	<a href="voteButton" style="width: 5px;padding-left:90px;background-color: #FFFFFF"><%= image_tag 'Vote-Button.png' , :style=> "height: 20px"  %></a>
																</p>

															</div></td>

															<td>
															<div>
																<div>
																	<p class ="NumVotos"; style="padding-left:15px;padding-top:10px">34</p>
																	
																</div>
																<div>
																<p class="VotesText"; style="padding-left:10px">VOTES</p>
																</div>

															</div></td>
														</tr>
													</table>

													<p>
														<a href="vote" style="width: 5px;padding-left:80px;background-color: #FFFFFF"><%= image_tag 'Vote-Button-English.png' , :style=> "height: 20px"  %></a>
													</p>
												</div></td>
											</tr>
										</table>
									</div>

						<div id="line-home"> </div>	
					</li>
					
					
					
					<li>
						
						<%= image_tag 'Headshot-Sample.jpg', :alt => "3.jpg" , :id=>"BloggerImage-recipe", :hspace=>10 %>
						
						<p class="PreparedText">Prepared by:</p>
						
						<p class="BloggerNameText">Name</p>
						
						
						<%= image_tag 'Laura-Muller_Recipe-Image.jpg', :alt => "3.jpg", :id => "recipeImage" %>
						
						<p class="NameRecipyText">Name Recipe</p>
						
						<p class="IngredientsText">Ingredients</p>
						
						<p class="IntroducedByBlogerText">aaaaaaaa  vvvv</br>vvv</br>vvv vvv</br>vvvvvv</br> vvvvvvvvvvvv vvv</br>vvvvvvvvvvv vvvvv</br>vvv vvvvvvv vvvv</p>
							
						<p class="IngredientsText">Directions</p><!--#Share has the same style as "Ingredients"-->
						
						<div>
						
						<p class="IntroTextDescription">bueno vamos a ve que pasaaaa aaaaaaa aaaaaa aaaa aaaa aaaaaa aaaa avamos a ve que pasaaaaaaaaaa aaaaaaaaa aaaaaaaa aaaaaaaa avamos a ve que pasaaa aaaaaaaa aaaaaa aaaaaaa aaaaaa aaaaaa</p>
								  
						</div>
						
						
						<div>
										<table >
											<tr>
												<td>
												<div>
													<p class= "SharedText">Share</p> <!--Share has the same style as "Prepared by"-->
													<a href="http://twitter.com/home?status=Cook,Blog and Win with Gortons - www.cookblogandwin.gortons.com"  style="padding-left:20px;background-color: #FFFFFF"><%= image_tag 'Twitter.png' , :style=> "float:left" %></a>
													<a href="http://www.facebook.com/sharer.php?u=www.cookblogandwin.gortons.com&t=Cook,Blog and Win with Gortons"   style="background-color: #FFFFFF";><%= image_tag 'Facebook.jpg' , :style=> "" %></a>
												</div></td>
												<td>
												<div>

													<table >
														<tr>
															<td>
															<div>
																<p>
																	<a href="voteButton" style="width: 5px;padding-left:90px;background-color: #FFFFFF"><%= image_tag 'Vote-Button.png' , :style=> "height: 20px"  %></a>
																</p>

															</div></td>

															<td>
															<div>
																<div>
																	<p class ="NumVotos"; style="padding-left:15px;padding-top:10px">34</p>
																	
																</div>
																<div>
																<p class="VotesText"; style="padding-left:10px">VOTES</p>
																</div>

															</div></td>
														</tr>
													</table>

													<p>
														<a href="vote" style="width: 5px;padding-left:80px;background-color: #FFFFFF"><%= image_tag 'Vote-Button-English.png' , :style=> "height: 20px"  %></a>
													</p>
												</div></td>
											</tr>
										</table>
									</div>

						<div id="line-home"> </div>	
					</li>
				
				</ul>
				</div>
					</div>
				</div>

				<footer id="page-footer">
					<nav id="footer-nav">
						<ul id="footer-nav-list">
							<li>
								<a id="firstchild" href="OfficialRules.html" title="Official Rules">Official Rules</a
							</li>
							<li>
								<a href="http://gortons.com/privacy_policy.htm" title="Privacy Policy">Privacy Policy</a
							</li>

							<li>
								<a href="ContactUs.html" title="Contact Us">Contact Us</a
							</li>

						</ul>
					</nav>
				</footer>
			</div>
		</div>
	</body>
</html>
