<%= form_for(@voter) do |f| %>
  <% if @voter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voter.errors.count, "error") %> prohibited this voter from being saved:</h2>

      <ul>
      <% @voter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :votedToday %><br />
    <%= f.check_box :votedToday %>
  </div>
  <div class="field">
    <%= f.label :votedEver %><br />
    <%= f.check_box :votedEver %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
