<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

	<script src="yahoo.js"></script>
	<script src="event.js"></script>

	<head>
		<title>Header</title>
	</head>

	<body >

		<div id="page-wrapper">

			<%= image_tag 'Header.jpg', :style => "width: 489px; height: 100px"%>

			<div id="popup-wrapper" style="height: 400px">

				<div id="header-popup">

					<div style="float: left">
						<%= image_tag  @blogger.dishImage %>
					</div>
					<div>
						<p>
							<%= @blogger.name %>
						</p>
						<p style="">
							<%= @blogger.recipeName %>
						</p>
					</div>
				</div>
				<div id="submit-email">
					<p>
						Please submit your email to cast your vote
					</p>
					<%= @voters.each do |voter| %>
					<%= form_tag("/search", :method => "get") do %>
					<%= email_field(:user, :address) %>
					<div class="actions">
						<%= voter.submit %>
					</div>
					<% end %>
					<% end %>

				</div>

			</div>

			<footer id="page-footer">
				<nav id="footer-nav">
					<ul id="footer-nav-list">
						<li>
							<a href="OfficialRules.html" title="Official Rules">Official Rules</a
						</li>
						<li>
							<a href="http://gortons.com/privacy_policy.htm" title="Privacy Policy">Privacy Policy</a
						</li>

						<li>
							<a href="ContactUs.html" title="Contact Us">Contact Us</a
						</li>

					</ul>
				</nav>
			</footer>

		</div>
	</body>
</html>

