<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @voter.votedToday %>
</p>

<p>
  <b>Email:</b>
  <%= @voter.email %>
</p>

<p>


<%= link_to 'Edit', edit_user_path(@voter) %> |
<%= link_to 'Back', users_path %>
