<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @voter.email %>
</p>

<p>
  <b>Votedtoday:</b>
  <%= @voter.votedToday %>
</p>

<p>
  <b>Votedever:</b>
  <%= @voter.votedEver %>
</p>


<%= link_to 'Edit', edit_voter_path(@voter) %> |
<%= link_to 'Back', voters_path %>
